<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244344807430-mpj0hntp8qdgn4jntoqji2o05v2jis4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244344807430-mpj0hntp8qdgn4jntoqji2o05v2jis4u</string>
	<key>API_KEY</key>
	<string>AIzaSyDl7Pjd0Jfa7ayEnHfJuXUQrGJdgct1vOM</string>
	<key>GCM_SENDER_ID</key>
	<string>244344807430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thirtydaysfitness.mensfitness</string>
	<key>PROJECT_ID</key>
	<string>fat-loss-for-men</string>
	<key>STORAGE_BUCKET</key>
	<string>fat-loss-for-men.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244344807430:ios:355bd9a6409b3c4c3de387</string>
</dict>
</plist>